@import '_reset';
@import '_fonts';
@import '_theme';

body {
    max-width: 1920px;
    margin: 0 auto;

    background: url("../imgs/flower.svg") top -350px right -500px / 686px 661px no-repeat,
        url("../imgs/flower.svg") left -490px bottom -270px / 686px 661px no-repeat,
        url("../imgs/bgrnd.png") left 85px bottom 80px no-repeat,
        #fff linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0) 100%) no-repeat;

    font-family: 'HelveticaNeueCyr', sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.8;
    color: $main_color;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

nav a {
    position: relative;
    white-space: nowrap;

    &::after {
        content: "";
        display: none;
        width: 100%;
        height: 2px;

        background-color: $accent_color;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
    }
    &:hover::after {
        display: block;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .logo {
        margin: 32px 0;
        a {
            display: block;
            width: 229px;
            height: 52px;
            background-image: url("../imgs/logo.png");
            cursor: pointer;
        }
        p {
            text-align: right;
            font-size: 11.5px;
            font-weight: 100;
            letter-spacing: 0.86px;
            color: $secondary_color;
        }
    }
    .contact {
        .tel_label {
            font-weight: normal;
            text-align: right;
        }
        .tel {
            font-size: 18px;
            line-height: 1.33;
        }
    }
    
    .nav_menu {
        flex-grow: 1;
        margin: 0 100px 0 64px;
        .nav_menu_items {
            display: flex;
            justify-content: space-between;
            > li {
                padding: 10px 0;
            }
            .sub_menu_items li {
                padding-left: 20px;
                padding-right: 50px;
                color: #000;
                a {
                    color: #000;
                }
            }
        }
        .sub_menu_title, .sub_sub_menu_title {
            position: relative;
    
            &::after {
                content: "";
                position: absolute;
                bottom: 50%;
                margin-left: 5px;
    
                border-top: 3px solid $accent_color;
                border-left: 3px solid transparent;
                border-right: 3px solid transparent;                    
            }
        }
        .sub_menu {
            position: relative;
            cursor: pointer;
            
            .sub_menu_items {
                display: none;
                position: absolute;
                top: 100%;
                left: -20px;
                z-index: 1;
                padding: 20px 0;
                opacity: 0.9;
                background-color: $bg_accent_color;
                
                &::before {
                    content: "";
                    position: absolute;
                    top: -5px;
                    left: 30px;

                    border-bottom: 5px solid $bg_accent_color;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;                    
                }
            }
        }
        .sub_sub_menu {
            .sub_sub_menu_title::after {
                opacity: 0;
            }

            .sub_sub_menu_items {
                display: none;
                position: absolute;
                height: 100%;
                top: 0;
                left: 100%;
                z-index: 1;
                padding: 20px 0;
                opacity: 0.9;
                background-color: $bg_light_color;
                font-size: 12px;
                font-weight: 300;
                line-height: 2.17;
            }

            &.active {                
                background: $bg_light_color url("../imgs/arrow.png") center right 17px no-repeat;             
            }

        }
    }

    .burger {
        display: none;
        position: relative;
        width: 30px;
        height: 20px;

        span {
            position: absolute;
            left: 0;
            top: 9px;
            width: 100%;
            height: 2px;
            background-color: $accent_color;
            transition: 0.6s ease;
        }
        &::before, &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $accent_color;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        &.active::before {
            transform: rotate(45deg);
            top: 9px;
        }
        &.active::after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        &.active span {
            transform: scale(0);
        }
    }
}

main {
    .discount {
        position: relative;
        margin: 50px 0 80px;
        .slider {
            .slide.active {
                display: flex;
            }
            .slide {
                display: none;
                justify-content: space-around;
                animation: fade 0.6s ease;

                .slide_desc {
                    .slide_desc_title {
                        font-size: 30px;
                        font-weight: bold;
                    }
                    .slide_desc_text {
                        font-size: 23px;
                        line-height: 1.5;
                    }
                    .slide_desc_accent_text {
                        font-size: 52px;
                        font-weight: bold;
                        color: $accent_color;
                        vertical-align: text-top;
                        line-height: 1;
                    }
                    .slide_desc_content {
                        margin: 80px 26px 0;
                        padding: 0 16px;
                        position: relative;

                        &::before, &::after {
                            content: "";
                            display: block;
                            width: 26px;
                            height: 100%;

                            background-image: url("../imgs/brace.svg");
                            background-size: cover;

                            position: absolute;
                            top: 0;
                            z-index: 1;
                        }

                        &::before {
                            left: -26px;
                        }

                        &::after {
                            transform: scaleX(-1);
                            right: -26px;
                        }
                    }
                    
                }
            }
        }

        .slider_nav {
            position: absolute;
            left: 90px;
            bottom: 0;
            display: flex;
            align-items: center;
            .slider_nav_item {
                margin: 4px;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                opacity: 0.1;
                background-color: $main_color;
                transition: 0.6s ease;
            }
            .slider_nav_item.active {
                opacity: 0.67;
                background-color: $accent_selected_color;
            }
        }
    }

    .content {
        margin: 80px 40px 125px;
        .title {
            font-size: 30px;
            font-weight: 100;
            text-align: center;
            margin-bottom: 16px;
        }
        p {
            text-align: center;
        }
    }
    
}

@import '_media';