@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #363636;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(../fonts/HelveticaNeueCyr-Roman.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(../fonts/HelveticaNeueCyr-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(../fonts/HelveticaNeueCyr-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(../fonts/HelveticaNeueCyr-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(../fonts/HelveticaNeueCyr-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(../fonts/HelveticaNeueCyr-UltraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(../fonts/HelveticaNeueCyr-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

body {
  max-width: 1920px;
  margin: 0 auto;
  background: url("../imgs/flower.svg") top -350px right -500px/686px 661px no-repeat, url("../imgs/flower.svg") left -490px bottom -270px/686px 661px no-repeat, url("../imgs/bgrnd.png") left 85px bottom 80px no-repeat, #fff -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), color-stop(31%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))) no-repeat;
  background: url("../imgs/flower.svg") top -350px right -500px/686px 661px no-repeat, url("../imgs/flower.svg") left -490px bottom -270px/686px 661px no-repeat, url("../imgs/bgrnd.png") left 85px bottom 80px no-repeat, #fff linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 100%) no-repeat;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.8;
  color: #363636;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

nav a {
  position: relative;
  white-space: nowrap;
}

nav a::after {
  content: "";
  display: none;
  width: 100%;
  height: 2px;
  background-color: #78b660;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

nav a:hover::after {
  display: block;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .logo {
  margin: 32px 0;
}

header .logo a {
  display: block;
  width: 229px;
  height: 52px;
  background-image: url("../imgs/logo.png");
  cursor: pointer;
}

header .logo p {
  text-align: right;
  font-size: 11.5px;
  font-weight: 100;
  letter-spacing: 0.86px;
  color: #898989;
}

header .contact .tel_label {
  font-weight: normal;
  text-align: right;
}

header .contact .tel {
  font-size: 18px;
  line-height: 1.33;
}

header .nav_menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 100px 0 64px;
}

header .nav_menu .nav_menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav_menu .nav_menu_items > li {
  padding: 10px 0;
}

header .nav_menu .nav_menu_items .sub_menu_items li {
  padding-left: 20px;
  padding-right: 50px;
  color: #000;
}

header .nav_menu .nav_menu_items .sub_menu_items li a {
  color: #000;
}

header .nav_menu .sub_menu_title, header .nav_menu .sub_sub_menu_title {
  position: relative;
}

header .nav_menu .sub_menu_title::after, header .nav_menu .sub_sub_menu_title::after {
  content: "";
  position: absolute;
  bottom: 50%;
  margin-left: 5px;
  border-top: 3px solid #78b660;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

header .nav_menu .sub_menu {
  position: relative;
  cursor: pointer;
}

header .nav_menu .sub_menu .sub_menu_items {
  display: none;
  position: absolute;
  top: 100%;
  left: -20px;
  z-index: 1;
  padding: 20px 0;
  opacity: 0.9;
  background-color: #d7e9ce;
}

header .nav_menu .sub_menu .sub_menu_items::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 30px;
  border-bottom: 5px solid #d7e9ce;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

header .nav_menu .sub_sub_menu .sub_sub_menu_title::after {
  opacity: 0;
}

header .nav_menu .sub_sub_menu .sub_sub_menu_items {
  display: none;
  position: absolute;
  height: 100%;
  top: 0;
  left: 100%;
  z-index: 1;
  padding: 20px 0;
  opacity: 0.9;
  background-color: #f2f2f2;
  font-size: 12px;
  font-weight: 300;
  line-height: 2.17;
}

header .nav_menu .sub_sub_menu.active {
  background: #f2f2f2 url("../imgs/arrow.png") center right 17px no-repeat;
}

header .burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
}

header .burger span {
  position: absolute;
  left: 0;
  top: 9px;
  width: 100%;
  height: 2px;
  background-color: #78b660;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

header .burger::before, header .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #78b660;
}

header .burger::before {
  top: 0;
}

header .burger::after {
  bottom: 0;
}

header .burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

header .burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

header .burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

main .discount {
  position: relative;
  margin: 50px 0 80px;
}

main .discount .slider .slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .discount .slider .slide {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: fade 0.6s ease;
          animation: fade 0.6s ease;
}

main .discount .slider .slide .slide_desc .slide_desc_title {
  font-size: 30px;
  font-weight: bold;
}

main .discount .slider .slide .slide_desc .slide_desc_text {
  font-size: 23px;
  line-height: 1.5;
}

main .discount .slider .slide .slide_desc .slide_desc_accent_text {
  font-size: 52px;
  font-weight: bold;
  color: #78b660;
  vertical-align: text-top;
  line-height: 1;
}

main .discount .slider .slide .slide_desc .slide_desc_content {
  margin: 80px 26px 0;
  padding: 0 16px;
  position: relative;
}

main .discount .slider .slide .slide_desc .slide_desc_content::before, main .discount .slider .slide .slide_desc .slide_desc_content::after {
  content: "";
  display: block;
  width: 26px;
  height: 100%;
  background-image: url("../imgs/brace.svg");
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: 1;
}

main .discount .slider .slide .slide_desc .slide_desc_content::before {
  left: -26px;
}

main .discount .slider .slide .slide_desc .slide_desc_content::after {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  right: -26px;
}

main .discount .slider_nav {
  position: absolute;
  left: 90px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .discount .slider_nav .slider_nav_item {
  margin: 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  opacity: 0.1;
  background-color: #363636;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

main .discount .slider_nav .slider_nav_item.active {
  opacity: 0.67;
  background-color: #7db52c;
}

main .content {
  margin: 80px 40px 125px;
}

main .content .title {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 16px;
}

main .content p {
  text-align: center;
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .container {
    margin: 0 20px;
  }
  body {
    background: url("../imgs/flower.svg") top -350px right -500px/686px 661px no-repeat, url("../imgs/flower.svg") left -490px bottom -270px/686px 661px no-repeat, url("../imgs/bgrnd.png") center no-repeat, #fff -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), color-stop(31%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))) no-repeat;
    background: url("../imgs/flower.svg") top -350px right -500px/686px 661px no-repeat, url("../imgs/flower.svg") left -490px bottom -270px/686px 661px no-repeat, url("../imgs/bgrnd.png") center no-repeat, #fff linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 100%) no-repeat;
  }
  header .burger {
    display: block;
  }
  header .nav_menu {
    display: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin: 0;
    background-color: #d7e9ce;
  }
  header .nav_menu .nav_menu_items {
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .nav_menu .sub_menu .sub_menu_items {
    position: initial;
    background-color: transparent;
    padding: 0;
  }
  header .nav_menu .sub_menu .sub_menu_items::before {
    border: none;
  }
  header .nav_menu .sub_sub_menu .sub_sub_menu_title::after {
    opacity: 1;
  }
  header .nav_menu .sub_sub_menu .sub_sub_menu_items {
    position: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
  }
  main .discount {
    margin: 40px 0;
  }
  main .discount .slider .slide .slide_desc .slide_desc_content {
    margin: 40px 26px;
  }
  main .discount .slider .slide .slide_img {
    display: none;
  }
  main .discount .slider_nav {
    position: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* xs-размер (<=575px) >=320
   CSS для ширины до 575px (включительно)*/
@media (max-width: 575px) {
  header .logo {
    margin: 20px 0;
  }
  header .nav_menu {
    margin-bottom: 20px;
  }
  header .contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  header .contact .tel, header .contact .tel_label {
    text-align: center;
  }
  header .contact .tel {
    display: block;
  }
  main .discount {
    margin: 0;
  }
  main .discount .slider .slide .slide_desc .slide_desc_title {
    font-size: 22px;
  }
  main .discount .slider .slide .slide_desc .slide_desc_text {
    font-size: 20px;
  }
  main .discount .slider .slide .slide_desc .slide_desc_content {
    padding: 0 8px;
  }
  main .content {
    margin: 40px 0;
  }
  main .content .title {
    font-size: 26px;
  }
}
/*# sourceMappingURL=style.css.map */